.hero_section_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    color: white;
    position: relative;
    align-items: center;
    background: linear-gradient(#2186F2, #2186F2, #2186F2);
    padding-top: 100px;
}

.hero_section_content {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Inter';
}

.hero_section_content2 {
    padding: 40px 0;
    width: 490px;
    font-size: 1rem;
    letter-spacing: 0.6px;
    text-align: justify;
    line-height: 20px;
}

.hero_section_button_section {
    display: flex;
    /* width: 80%; */
    flex-wrap: wrap;
    /* margin: auto; */
    justify-content: center;
}

.get_started {
    background-color: #F4D313;
    padding: 10px 40px;
    border-radius: 28px;
    margin-right: 10px;
}

.watch_video {
    margin-left: 10px;
    /* background-color: #ffffff; */
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 28px;
}

.curve {
    background: linear-gradient(#4E36E2);
    position: relative;
    /* border-radius: 50%; */
    /* height:40vh; */
    width: 100%;
}

.laptop {
    position: relative;
}

.laptop_model {
    position: absolute;
}

.laptop_screen {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
  }



/* media queries */

@media (max-width: 620px) {
    
    .hero_section_content{
        font-size: 2.5rem;
    }
    .hero_section_content2{
        /* font-size: 1rem; */
        padding:24px 10px;
        width: 100%;
        /* letter-spacing: 0.6px; */
        text-align: justify;
    }
    .watch_video {
        margin-left: 0px;
        margin-top: 5px;
        /* background-color: #ffffff; */
        padding: 10px 40px;
        border: 1px solid white;
        border-radius: 28px;
    }
}