ul, .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background-color: #2186F2;
    /* background-color: red; */
  }
  .nav_items{
    text-decoration: none;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    /* background-color: lime; */
    list-style: none;
    display: flex;
    align-items: center;
  }
  .company_name{
    color: white;
    text-decoration: unset;
}
.navbar{
    padding-top: 40px;
}

  .logo{
    display: flex;
    /* margin-top: 20px; */
    align-items: center;
    justify-content: center;
  }
  button{
    border: none;
    background-color: transparent;
  }
  .mobile_menu_icon{
    display: none;
  }
  
  @media (max-width:768px){
    .mobile_menu_icon{
      display: block;
      color: white;
      font-size: 25px;
      cursor: pointer;
    }
    .nav_links{
      display: none;
    }
    .mobile_nav_links{
      background-color: #2186F2;
      display: flex;
      z-index: 10;
      flex-direction: column;
      padding: 0;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 15%;
      width: 100%;
      font-size: 20px;
      height: 85vh;
    }
    .nav_items{
      color: white;
    }
  }