* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
  text-decoration: none;
  font-family: "system-ui";
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgb(0, 0, 0); */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 5px rgb(0, 0, 0); */
  background: rgb(199, 199, 199);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}